.Rapp.history
GMphylo_dickin.R
Hama_data_1.R
Hamadryas.morphoj
dorsal_data/
ventral_data/
.DS_Store
Hamadryas_range.csv
Hama_hab_tree_2.pdf
.Rhistory
Hamadryas_knitr.html
Hama_code (Autosaved).R
Hama_update_aligned.TPS
Hama_update_aligned2.TPS
Hama_update_aligned3.TPS
Hama_update_centroid.NTS
Hama_3_dorsal_slider.NTS
FW-pca.pdf
*.pdf
